---
layout: false
permalink: /sidebars.json
---
{%- set items = collections.eleventyNavigationTree | filterTree('en', 'cloud') | sortTree -%}

{%- macro nav(item) -%}
{
  {% if item.hasData %}"url": "{{- item.url -}}"{% else %}"label": "{{- item.title -}}"{% endif %}{% if item.children.length > 0 %},{% endif %}
  {% if item.children.length > 0 %}
  "items": [
    {% for subItem in item.children | sortTree %}
      {{ nav(subItem) }}{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
  {% endif %}
}
{%- endmacro -%}

[
  {
    "items": [
      {%- for item in items %}
      {{- nav(item) -}}{% if not loop.last %},{% endif %}
      {%- endfor %}
    ]
  }
]