---
layout: 'layouts/base.njk'
---
<div class="dwd-header-media">
  <div class="dwd-header-media-content">
    <div class="web-site-width">
      <div id="algolia-autocomplete" data-index="docs-{{ lang }}" data-placeholder="What are you looking for?"></div>
    </div>
  </div>
  <div class="dwd-photo-parallax bg-support"></div>
</div>

<div class="dwd-section">
  <div class="web-site-width">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    <nav class="grid-list">
      {% for key, project in projects %}
        {% if project.isTopic %}
          <a href="{{ lang | localized }}{{ project.url }}">
            <img src="{{ project.icon }}">
            <span>{{ project.formattedName | safe }}</span>
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>