---
layout: 'layouts/base.njk'
---
<div class="dwd-header-media">
  <div class="dwd-header-media-content">
    <div class="web-site-width">
      <div id="algolia-autocomplete" data-index="docs-{{ lang }}" data-placeholder="{{ locale[lang].placeholderSearch }}"></div>
    </div>
  </div>
  <div class="dwd-photo-parallax bg-support"></div>
</div>

<div class="dwd-section">
  <div class="web-site-width">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    <nav class="grid-list">
      {%- for card in cards -%}
        <{{ "div" if card.links else "a href=" + locale[lang].projects[card.name].url }}>
          {%- if locale[lang].projects[card.name].url -%}
            <a href="{{ locale[lang].projects[card.name].url }}">
          {%- endif -%}

          <img src="{{ locale[lang].projects[card.name].icon }}">
          <span class="font-product">{{ locale[lang].projects[card.name].formattedName | safe }}</span>

          {%- if locale[lang].projects[card.name].os -%}
            <div class="grid-list-os">
              {{ icons[locale[lang].projects[card.name].os] | safe }}
            </div>
          {%- endif -%}

          {%- if locale[lang].projects[card.name].url -%}
            </a>
          {%- endif -%}

          {%- if card.links -%}
            <nav>
              {%- for link in card.links -%}
                <a href="{{ link.url }}">
                  {{ link.name }}
                  {{ icons.pushPin | safe }}
                </a>
              {%- endfor -%}
            </nav>
          {%- endif -%}
        </{{ "div" if card.links else "a" }}>
      {%- endfor -%}
    </nav>
  </div>
</div>