---
layout: 'layouts/base.njk'
eleventyImport:
  collections: ["eleventyNavigationTree"]
---

<div class="dwd-doc-container">
  {%- macro nav(item, index) -%}
    <div class="nav-item-container">
      {%- if item.hasData -%}
        <div class="nav-item-sub-container">
          <a class="nav-item level-{{ index }} {{ 'active' if page.url.startsWith(item.url) }} {{ 'current' if page.url === item.url }}" href="{{ item.url }}" {{ ['data-dwd-tab data-dwd-tab-group=', item.url,' data-dwd-tab-target=', item.url] | join if item.children.length > 0 }}>
            {{- item.title -}}
          </a>
          {%- if item.children.length > 0 -%}
          <div class="expand-more" data-dwd-tab data-dwd-tab-group="{{ item.url }}" data-dwd-tab-target="{{ item.url }}">
              {{- icon['expandMore'] | safe -}}
          </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      {%- if item.children.length > 0 -%}
        {%- if not item.hasData -%}
          {% set firstChildrenUrl = item | findFirstChildrenUrlTree %}
          {% if item.redirect or firstChildrenUrl != item.url %}
          <div class="nav-item-sub-container">
            <a class="nav-item level-{{ index }} {{ 'active' if page.url.startsWith(item.url) }}" href="{{ item.redirect if item.redirect else firstChildrenUrl }}" data-dwd-tab data-dwd-tab-group="{{ item.url }}" data-dwd-tab-target="{{ item.url }}">
              {{- item.title -}}
            </a>
            <div class="expand-more" data-dwd-tab data-dwd-tab-group="{{ item.url }}" data-dwd-tab-target="{{ item.url }}">
              {{- icon['expandMore'] | safe -}}
            </div>
          </div>
          {% else %}
          <div class="nav-item-sub-container">
            <button class="nav-item level-{{ index }} {{ 'active' if page.url.startsWith(item.url) }}" data-dwd-tab data-dwd-tab-group="{{ item.url }}" data-dwd-tab-target="{{ item.url }}">
              {{- item.title -}}
            </button>
            <div class="expand-more" data-dwd-tab data-dwd-tab-group="{{ item.url }}" data-dwd-tab-target="{{ item.url }}">
              {{- icon['expandMore'] | safe -}}
            </div>
          </div>
          {% endif %}
        {%- endif -%}
        <div class="nav-item-items {{ 'active' if page.url.startsWith(item.url) }}" data-dwd-tab-group="{{ item.url }}" data-dwd-tab-target="{{ item.url }}">
          {%- for subItem in item.children | sortTree -%}
            {{- nav(subItem, index + 1) -}}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  {%- endmacro -%}

  {%- if tree and page.url -%}
    <nav class="navigation" data-dwd-modal-group="mobile-menu" data-dwd-modal-target="all">
      {%- for item in collections.eleventyNavigationTree | filterTree(lang, tree) | sortTree -%}
        {{- nav(item, 1) -}}
      {%- endfor -%}
    </nav>
  {%- endif -%}

  <div class="markdown-container">
    <div class="title">
      <h1>{{- title -}}</h1>
    </div>

    <div class="dwd-toc__container">
      <div class="dwd-toc">
        <div class="dwd-toc__group">
          {{- content | toc('On this page') | safe -}}
        </div>

        <div class="dwd-toc__group">
          <span class="dwd-toc__title">Contribute</span>
          <ul>
            <li>
              <a class="dwd-toc__item" href="{{ config.githubBlob }}contribute/how-to-contribute.md" target="_blank">
                {{ icons.book | safe }}
                Contributor guides
              </a>
            </li>
            <li>
              <a class="dwd-toc__item" href="{{ config.githubEdit }}{{ page.inputPath }}" target="_blank">
                {{ icons.github | safe }}
                Edit this page
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main class="markdown">
      {{- content | safe -}}

      {% set productName = "" %}
      {% for index, name in productNames %}
        {% if tree == index %}
          {% set productName = name %}
        {% endif %}
      {% endfor %}

       <a class="button feedback-type-product github-link" aria-label="Send feedback about this page" data-bi-name="create-issue-on-github" href="{{ "https://github.com/Devolutions/doc/issues/new?" | encodeURIFilter({ title: "", body: ["\n\n[Enter feedback here]\n\n\n---\n#### Document Details\n\n⚠ *Do not edit this section. It is required for docs.devolutions.net ➟ GitHub issue linking.*\n\n* Content: [", title, "](https://docs.devolutions.net", page.url, ")\n* Content Source: [", page.filePathStem, ".md](https://github.com/Devolutions/doc/tree/master/docs", page.filePathStem, ".md)\n* Service: **", productName, "**" ] | join }) }}">

				<span class="icon" aria-hidden="true">
					{{ icons.github | safe }}
				</span>
				<span class="text">{{ locale[lang].labelFeedbackButton }}</span>
			</a>
    </main>
  </div>
</div>
