.grid-list {
  display: flex;
  flex-wrap: wrap;
  margin: 60px -10px -10px;

  > * {
    align-items: flex-start;
    border: 1px solid #eeeeee;
    color: #000000;
    display: flex;
    flex: 0 0 calc(33.33% - 20px);
    flex-direction: column;
    font-size: 18px;
    margin: 10px;
    max-width: calc(33.33% - 20px);
    padding: 16px;
    width: 100%;

    @media (max-width: 1024px) {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }

    @media (max-width: 600px) {
      flex: 0 0 calc(100% - 20px);
      max-width: calc(100% - 20px);
    }

    &:hover {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    }
  }

  a {
    color: #000000;
    position: relative;
    text-align: left;
    width: 100%;
  }

  img {
    height: 60px;
  }

  &-os {
    position: absolute;
    top: 0;
    right: 0;
  }

  nav {
    border-top: 2px solid rgba(0, 104, 195, 0.2);
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-top: 16px;
    text-align: left;
    width: 100%;

    a {
      align-items: center;
      color: #000000;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      padding: 8px;

      &:hover {
        background-color: #f5f5f5;
      }

      svg {
        color: #FF9F3B;
        height: 18px;
        margin-right: 8px;
        min-width: 18px;
        width: 18px;
      }
    }
  }

  &.center {
    justify-content: center;
  }
}