.dwd-header-container {
  background-color: #000000;
  display: flex;
  height: var(--header-height);
}

.dwd-header {
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;

  @media (min-width: 1025px) {
    .dwd-search-button {
      display: flex;
    }

    .dwd-search-button-icon {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    .dwd-search-button {
      display: none;
    }

    .dwd-search-button-icon {
      display: flex;
    }
  }

  .dwd-header-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    width: 100%;
  }

  .dwd-header-left {
    align-items: center;
    display: flex;

    .dvl-icon-logo-devolutions-text {
      color: #ffffff;
      height: 36px;
      margin-left: -12px;
      width: 100px;
    }
    .burger-menu-logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-right: 10px;
      color: rgba(255,255,255,.8);
      &:hover {
        color: white;
      }
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }

  .dwd-header-right {
    align-items: center;
    display: flex;
    height: 100%;

    .dwd-header-submenu {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
      right: 0;
      // width: 490px;

      @media (max-width: 599px) {
        position: fixed;
        right: 16px;
        top: 52px;
        width: calc(100% - 32px);
      }

      > span {
        background-color: #000000;
        color: #ffffff;
        display: block;
        height: 40px;
        letter-spacing: normal;
        line-height: 40px;
        margin: 10px -10px;
        padding: 0 10px;
        text-align: center;
        text-transform: initial;
        width: calc(100% + 20px);
      }

      .dwd-header-submenu-item {
        align-items: center;
        border: none;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        letter-spacing: normal;
        line-height: 15px;
        height: auto;
        margin: 5px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-transform: initial;
        white-space: inherit;

        img {
          height: 58px;
          margin-bottom: 5px;
          margin-right: 0;
          transition: transform 0.3s ease-out;
          width: 58px;
        }

        + .dwd-header-submenu-item {
          border: none;
        }
      }
    }

    .dwd-header-submenu-container {
      > .dwd-header-item {
        svg {
          height: 24px;
          width: 24px;
        }
      }
    }

    .dwd-header-item {
      font-size: 12px;
      padding: 0 6px;

      span {
        @media (max-width: 1500px) {
          display: none;
        }
      }
    }
  }

  .dwd-header-item {
    align-items: center;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    min-width: 36px;
    padding: 0 12px;
    text-transform: uppercase;

    @media (max-width: 1279px) {
      font-size: 14px;
    }

    &:hover,
    &.active {
      color: #ffffff;
    }

    &.active {
      &:after {
        background: black;
        border-radius: 4px;
        content: '';
        height: 30px;
        left: 50%;
        position: absolute;
        top: 52px;
        transform: translate(-50%) rotate(135deg) skew(14deg, 14deg);
        width: 30px;
        z-index: 1001;

        @media (max-width: 1023px) {
          height: 22px;
          top: 39px;
          width: 22px;
        }
      }
    }

    &.mobile-menu {
      display: none;
      margin-right: 6px;
      padding: 0 10px;

      &:after {
        content: none;
      }

      @media (max-width: 1024px) {
        display: flex;
      }
    }

    svg + span {
      padding-left: 2px;

      @media (max-width: 1500px) {
        display: none;
      }
    }
  }

  .dwd-header-submenu-container {
    height: 100%;
    position: relative;

    @media (max-width: 1024px) {
      height: auto;
    }

    > .dwd-header-item {
      svg {
        height: 18px;
        width: 18px;

        @media (max-width: 1024px) {
          height: 24px;
          width: 24px;
        }
      }
    }
  }

  .dwd-header-submenu {
    background-color: #ffffff;
    box-shadow: 0 12px 50px 0 rgb(0 0 0 / 35%);
    color: #000000;
    display: none;
    flex-direction: column;
    padding: 24px 48px;
    position: absolute;
    top: 100%;
    z-index: 1000;

    .dwd-header-submenu-back {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: none;
      font-size: 0;
      left: 12px;
      padding: 15px;
      position: absolute;
      top: 0;

      @media (max-width: 1024px) {
        display: block;
      }
    }

    .dwd-header-submenu {
      box-shadow: none;
      display: flex;
      left: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: auto;

      > :first-child {
        margin-top: -70%;
        transition: margin-top 0.6s ease;
      }

      &.active {
        > :first-child {
          margin-top: 14px;
        }
      }
    }

    &.active {
      display: flex;
    }

    > span {
      align-items: center;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      font-weight: 700;
      height: 60px;
      letter-spacing: -0.05em;
      padding: 10px 40px;
      text-transform: uppercase;

      @media (max-width: 1024px) {
        padding: 10px 25px;
      }
    }

    .dwd-header-submenu-item {
      align-items: center;
      border: none;
      color: #000000;
      display: flex;
      height: 60px;
      letter-spacing: -0.05em;
      padding: 10px 40px;
      white-space: nowrap;
      width: 100%;

      @media (max-width: 1024px) {
        padding: 10px 25px;
      }

      @at-root {
        #{selector-unify(&, button)} {
          background-color: #000000;
          color: #ffffff;
          font-weight: 700;
          margin-top: 10px;
          margin-left: -48px;
          padding-left: calc(40px + 48px);
          padding-right: 48px;
          text-transform: uppercase;
          width: calc(100% + (48px * 2));

          @media (max-width: 1024px) {
            margin-left: -30px;
            padding-left: calc(25px + 30px);
            width: calc(100% + (30px * 2));
          }

          @media (max-width: 599px) {
            margin-left: 0;
            padding-left: 25px;
            width: 100%;
          }

          &:hover {
            background-color: #000000;
            color: #ffffff;
            cursor: pointer;
          }

          svg {
            height: 24px;
            margin-left: auto;
            width: 24px;
          }
        }
      }

      &:hover {
        background-color: #f8f8f8;
        color: #0068c3;
      }

      + .dwd-header-submenu-item {
        border-top: 1px solid #eeeeee;
      }

      svg,
      img {
        height: 32px;
        margin-right: 10px;
        max-width: unset;
        width: 32px;
      }

      .dvl-icon-dot {
        height: 14px;
      }
    }
  }

  .dwd-header-backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
    display: none;
    height: 100%;
    position: fixed;
    right: 0;
    top: 52px;
    width: 100%;
    z-index: 999;
  }


}