.navigation {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: calc(100% - (var(--header-height) * 2) - 32px);
  overflow-y: auto;
  padding-top: 8px;
  position: fixed;
  top: calc((var(--header-height) * 2) + 24px);
  width: 280px;
  z-index: 10;

  @media (max-width: 1199px) {
    transform: translateX(-100%);
  }

  .nav-item {
    align-items: center;
    background-color: transparent;
    color: #212121;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    padding: 10px 10px 10px 20px;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: #f5f5f5;
    }

    @for $i from 2 through 8 {
      &.level-#{$i} {
        padding-left: (20 + $i * 8) + px;
      }
    }

    &.active {
      background-color: #f5f5f5;

      &.current {
        color: #ffffff;
        background-color: #0068c3;
      }

      svg {
        transform: rotate(0deg);
      }
    }

    svg {
      height: 18px;
      margin-left: auto;
      min-width: 18px;
      transform: rotate(-90deg);
      width: 18px;
    }
  }

  .nav-item-items {
    height: 0;
    overflow: hidden;

    &.active {
      background-color: #f5f5f5;
      height: auto;
    }
  }
}