.navigation {
  background-color: #f5f5f5;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: -2px 0 10px -1px rgba(0, 0, 0, 0.05) inset;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: calc(100% - (var(--header-height) * 2) - 0px);
  overflow-y: auto;
  padding: 8px 20px;
  position: fixed;
  top: calc(var(--header-height) * 2);
  width: 328px;
  z-index: 10;

  @media (max-width: 1199px) {
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
      top: calc((var(--header-height)));
      height: calc(100% - (var(--header-height)));
      z-index: 1000;

      + .markdown-container {
        &::after {
          background-color: rgba(0, 0, 0, 0.3);
          content: "";
          height: 100%;
          position: fixed;
          top: 52px;
          width: 100%;
          z-index: 999;
        }
      }
    }
  }

  .nav-group {
    > span {
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      padding-bottom: 8px;
      padding-top: 8px;
      text-transform: uppercase;
    }
  }

  .nav-item-sub-container {
    align-items: center;
    display: flex;
    gap: 6px;

    &.active {
      .nav-item {
        color: var(--primary);
        font-weight: 600;

        + .expand-more {
          svg {
            transform: rotate(90deg);
          }
        }
      }
    }

    .expand-more {
      align-self: stretch;
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }
  }

  .nav-item {
    align-items: center;
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    width: 100%;

    &:hover {
      color: #000000;

      & + .expand-more {
        background-color: #f5f5f5;
      }
    }

    @for $i from 2 through 8 {
      &.level-#{$i} {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        padding-left: ($i * 16 - 16) + px;
      }
    }

    &.active {
      background-color: #f5f5f5;

      + .expand-more {
        background-color: #f5f5f5;
      }

      &.current {
        background-color: #0068c3 !important;
        color: #ffffff !important;

        + .expand-more {
          background-color: #0068c3;
          color: #ffffff;
        }
      }

      & + .expand-more {
        svg {
          transform: rotate(90deg);
        }
      }
    }

    &.current {
      color: var(--primary);
      font-weight: 600;
    }

    & + .expand-more {
     svg {
        height: 16px;
        min-width: 16px;
        width: 16px;
      }
    }
  }

  .nav-item-items {
    height: 0;
    overflow: hidden;

    &.active {
      background-color: #f5f5f5;
      height: auto;

    }
  }
}