.dwd-sub-header-container {
  background-color: var(--background-shaded);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  height: var(--header-height);
}

.dwd-sub-header {
  align-items: center;
  background-color: var(--background-shaded);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  height: var(--header-height);
  padding: 0;
  position: fixed;
  top: var(--header-height);
  width: 100%;
  z-index: 40;

  .dwd-sub-header-wrapper {
    align-items: center;
    column-gap: 24px;
    display: grid;
    grid-template-areas: "left center right";
    grid-auto-columns: minmax(328px, 328px) minmax(0px, auto) minmax(328px, 328px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    width: 100%;

    @media (max-width: 1199px) {
      grid-template-areas: "left center";
      grid-auto-columns: minmax(328px, 328px) minmax(0px, auto);
    }

    .dwd-dropdown-menu {
      display: flex;
      flex-direction: column;

      img {
        height: 48px;
      }

      justify-content: space-between;

      .dropdown {
        .dropbtn {
          display: flex;
          border: none;
          outline: none;
          background-color: transparent;
          padding: 12px 15px;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          cursor: pointer;

          @media (max-width: 1023px) {
            padding: 3px 15px;
          }

          &.active,
          &:hover {
            background-color: var(--background-color);
            box-shadow: 0px 12px 50px #00000029;
          }
        }

        .dropdown-content.active {
          display: flex;
          flex-direction: column;
        }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--background-color);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 328px;

        .topics-container {
          display: flex;
          border-top: 3px solid var(--background-light);

          &:hover {
            background-color: var(--background-light);
          }
        }

        .main-links {
          float: none;
          color: black;
          padding: 12px 15px;
          text-decoration: none;
          display: flex;
          text-align: left;
          width: 100%;



        }
        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;


          a.icons {

            padding: 0 10px;

            &:hover {
              background-color: var(--background-light);
            }
          }
        }
        svg {
          color: var(--primary);
        }

      }

    }
  }

  .logo {
    height: 48px;
  }

  .dwd-sub-header-center {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1076px;
    width: 100%;


    @media (max-width: 1199px) {
      max-width: none;
    }
    .dwd-rdm-icons {
      flex-shrink: 0;
      .sub-header-icons {
        padding: 5px;
        svg {
          fill: #000;

        }
        &.active {
          svg {
            fill: var(--primary);
          }
        }
      }
    }
  }



}