.dwd-sub-header-container {
  background-color: #f9f9f9;
  display: flex;
  height: var(--header-height);
}

.dwd-sub-header {
  align-items: center;
  background-color: #f9f9f9;
  display: flex;
  height: var(--header-height);
  padding: 0 20px;
  position: fixed;
  top: var(--header-height);
  width: 100%;
  z-index: 999;

  .dwd-sub-header-wrapper {
    align-items: center;
    column-gap: 24px;
    display: grid;
    grid-template-areas: "left center right";
    grid-auto-columns: minmax(280px, 280px) minmax(0px, auto) minmax(280px, 280px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    width: 100%;

    @media (max-width: 1199px) {
      grid-template-areas: "left center";
      grid-auto-columns: minmax(280px, 280px) minmax(0px, auto);
    }

    .dwd-dropdown-menu {
      display: flex;
      flex-direction: column;
      background-color: white; 
      box-shadow: 0px 12px 50px #00000029; 
      
      img {
        height: 48px;
      }
      justify-content: space-between; 

      .dropdown {
        float: left;
        overflow: hidden;
        .dropbtn {
          display: flex; 
          border: none;
          outline: none;
          background-color: #F9F9F9;
          padding: 12px 15px;
          align-items: center; 
          justify-content: space-between;
          width: 100%;
          cursor: pointer; 

          @media (max-width: 1023px) {
            padding: 3px 15px;
          }
          &:active {
            background-color: #F9F9F9; 
          }
         
        }
        .dropdown-content.active {
          display: flex;
          flex-direction: column; 
        }
      }
      .dropbtn:hover {
        background-color: #F9F9F9;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        .topics-container {
          display: flex;
          border-top: 3px solid #f9f9f9;
          &:hover {
            background-color: #f9f9f9;
          }
          
        }
        .main-links {
          float: none;
          color: black;
          padding: 12px 26px;
          text-decoration: none; 
          display: flex;
          text-align: left; 
          width: 100%;
          
        
         
        }
        .icon-container {
          display: flex;
          align-items: center; 
          justify-content: center; 
          
          
          a.icons {
          
            padding: 0 10px;

            &:hover {
              background-color: #F9F9F9;
            }
          }
        }
        svg {
          color: var(--primary);
        }

      }

    }
  }

  .logo {
    height: 48px;
  }

  .dwd-sub-header-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    width: 100%;
     

    @media (max-width: 1199px) {
      max-width: none;
    }

    #algolia-autocomplete {
     
      margin-left: auto;
      max-width: 300px;
    }
  }
}