.dwd-toc {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__container {
    grid-area: toc;
    max-width: 1076px;
    overflow-y: auto;
    padding: 24px 20px 24px 0;
    margin: 0 auto;
    width: 100%;

    @media (min-width: 1200px) {
      bottom: 0;
      max-width: 328px;
      position: fixed;
      right: 0;
      top: calc(var(--header-height)*2);
    }

    > span {
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  &__title {
    border-left: 2px solid #eeeeee;
    display: flex;
    padding: 6px 0 10px 16px;
  }

  &__item {
    align-items: center;
    border-left: 2px solid #eee;
    color: var(--background-text);
    display: flex;
    font-size: 13px;
    gap: 6px;
    padding: 6px 0 6px 16px;

    &:hover {
      border-left: 2px solid var(--primary);
      color: var(--primary)
    }

    svg {
      height: 18px;
      width: 18px;
    }

    &--level-2 {
      padding-left: 28px;
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }
}
