@tailwind base;
@tailwind components;
@tailwind utilities;
@use 'variables' as *;

@layer base {
  svg {
    @apply fill-current;
  }
}

@layer components {
  .dvl-logo {
    @apply flex flex-col text-[16px] tracking-[-0.51px] leading-[12.8px];
  }

  .dvl-logo.dvl-logo-18 {
    @apply text-[18px] tracking-[-0.58px] leading-[14.4px];
  }

  .dvl-logo.dvl-logo-72 {
    @apply text-[25px] tracking-[-0.8px] leading-[20px];
  }

  .prose ul {
    @apply list-outside list-disc pl-8
  }

  .prose ol {
    @apply list-outside list-decimal pl-8
  }

  .bg-color {
    background-color: var(--background-color);
  }

  .box-shadow-12-50 {
    box-shadow: 0 12px 50px 0 var(--background-darker-shadow);
  }

  .text-color {
    color: var(--primary-text);
  }
}