@font-face {
  font-display: swap;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/red-hat-display-v14-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Display';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/red-hat-display-v14-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/red-hat-display-v14-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Display';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/red-hat-display-v14-latin-700italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v35-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans-v35-latin-700.woff2') format('woff2');
}

kbd {
  border: 2px solid gray;
  border-bottom: 4px solid gray;
  border-radius: 5px;
  padding: 2px;
}