@use 'variables' as *;
@use 'mixins/transition' as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  color: var(--background-text);
  font-family: $font-family-default;
  font-size: var(--font-size);
  font-weight: $font-weight-default;
  letter-spacing: 0.02em;
  line-height: 1.4;
  margin: 0;
}

body {
  overflow-y: scroll;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-margin-top: calc(144px);
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  max-width: 100%; // IE Fix
}

svg {
  fill: currentColor;
  height: 24px;
  width: 24px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #000000;
  font-family: $font-family-title;
  font-weight: $font-weight-title;
  letter-spacing: -0.02em;
  max-width: 100%; // IE Fix
}

h1, .h1 {
  font-size: 34px;
}

b, strong, th {
  font-weight: $font-weight-bold;
}

.font-product {
  font-family: $font-family-product;
  letter-spacing: -0.055em;
}

.web-site-width {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1200px + 48px);
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;

  @media (max-width: 719px) {
    max-width: calc(1200px + 32px);
    padding-left: 16px;
    padding-right: 16px;
  }
}