// Variables

// Fonts
$font-family-default: 'Open Sans', sans-serif !default;
$font-family-title: 'Open Sans', sans-serif !default;
$font-family-product: 'Open Sans', sans-serif !default;
$font-weight-default: 400;
$font-weight-bold: 600;
$font-weight-title: 600;