// Variables

// Fonts
$font-family-default: 'Red Hat Display', sans-serif !default;
$font-family-title: 'Red Hat Display', sans-serif !default;
$font-family-product: 'Open Sans', sans-serif !default;
$font-weight-default: 400;
$font-weight-bold: 700;
$font-weight-title: 700;