---
permalink: '/scripts/devolutions.js'
eleventyExcludeFromCollections: true
---

{%- include 'scripts/search.js' -%}
{%- include 'scripts/tab.js' -%}
{%- include 'scripts/dwd-modal.js' -%}
{%- include 'scripts/view-tree.js' -%}
{%- include 'scripts/copy-anchor.js' -%}