---
permalink: '/scripts/devolutions.js'
eleventyExcludeFromCollections: true
---

{% set js %}
{% include "scripts/search.js" %}
{% include "scripts/global-tab.js" %}
{% include "scripts/tab.js" %}
{% include "scripts/tabs.js" %}
{% include "scripts/dwd-modal.js" %}
{% include "scripts/view-tree.js" %}
{% include "scripts/copy-anchor.js" %}
{% include "scripts/sidebar.js" %}
{% endset %}
{{ js | jsmin | safe }}