<div class="dwd-header-container">
  <div class="dwd-header">
    <div class="dwd-header-wrapper">
      <div class="dwd-header-left">
        <div class="burger-menu-logo" data-dwd-modal data-dwd-modal-group="mobile-menu" data-dwd-modal-target="all" >{{ icons.menu | safe }}</div>
        <a class="dwd-header-item" href="https://devolutions.net{{ lang | localized }}/" aria-label="Devolutions">
          {{ icons.logoDevolutionsText | safe }}
        </a>

      </div>
      <div class="dwd-header-right">
        {%- if not hideSearch -%}
          <button class="dwd-search-button">
            {{ icons.search | safe }}
            <span>
              {{ locale[lang].placeholderSearch }}
            </span>
          </button>
          <button class="dwd-search-button-icon">
            {{ icons.search | safe }}
          </button>
        {%- endif -%}
        <div class="dwd-header-submenu-container">
          <button class="dwd-header-item" aria-label="Open language selection" data-dwd-modal data-dwd-modal-target="Open language selection" data-dwd-modal-group="dwd-header">
            {{ lang }}
          </button>
          <div class="dwd-header-submenu" data-dwd-modal-target="Open language selection" data-dwd-modal-group="dwd-header">
            {% for l, item in locale %}
              {% if l !== lang and page.url %}
                <a class="dwd-header-submenu-item" href="{{ page.url | localizedUrl(l, lang) }}">
                  {{ l }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>