{% set project = locale[lang].projects[tree] %}

{% if project %}
  <div class="dwd-sub-header-container">
    <div class="dwd-sub-header">
      <div class="dwd-sub-header-wrapper">
        {% if project.logo %}
          <img class="logo" src="{{ project.logo }}">
        {% endif %}
        <div class="dwd-sub-header-center">
          <div id="algolia-autocomplete"
               data-index="docs-{{ lang }}"
               data-placeholder=""></div>
        </div>
      </div>
    </div>
  </div>
{% endif %}